@media (max-width: 42em) {


        /* burger menu */


    
.background {
    /* background-attachment: fixed; */
    background-image: url(../pictures/mobile-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
    .language-p {
        color: gray;
        height: 30%;
        
    }

    p, h1, h2, h3, h4 {
        text-align: center;
    }

    .contact-container > div > a {
        text-align: center;
    }

    .p-service {
        text-align: center;
    }

    .content-width {
        width: 90%;
    }

    .header-width {
        width: 90%;
    }
    

    .logo-burger {
        margin-top: 2rem;
            
      }

    #srict-margin {
        padding-bottom: 4rem;
     }

    
    
    .burger-p {
        margin-bottom: 1rem;
    }

    .strict-link {
        color: orange;
        padding: 0 0 4rem 0;
        font-size: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .main-text-div {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    
    header {
        z-index: 1000;
    }

    .main-text {
        justify-content: flex-start;
        font-size: .9rem;
    }

    .triabygg-logo-big {
        width: 17rem;
    }

    .welcome-p {
        font-size: 2.5rem;
    }

    .triabygg-logo-big {
        transition: width 2s;
    }

    #hide-footer {
        display: none;
    }

    main {
        height: 100%;
        /* margin-bottom: 20rem; */
    }


 


    /* about page  */

    #about {
        margin-top: 5rem;
        /* background: #434343; */
        color: white;
    }

    .about-p {
        font-size: 1rem;
    }

    .person-container {
        padding: 1rem;
    }

    /* services page */

    #service {
        /* margin: 40rem 0 3rem 0; */
    }

    .concrete-div {
        justify-content: center;
        align-items: center;
    }
    .work-img {
        width: auto;
        height: 15rem;
    }

    #gallery {
        width: 100%;
    }

    .working-imgs {
        margin-right: .2rem;
        margin-left: .2rem;
        height: 10rem;
    }

    /* contact page */


    .contact-socials-div-mobile {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
    }

    .social-icons-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .phone-mail-location-icons {
        width: 3rem;
        height: auto;
    }

    /* .mobile-size {
        width: 3rem;
        height: auto;
    } */

    .div-margin {
        margin-bottom: 2rem;
    }




}