.services-div {
    width: 100%;
}

.service-container {
    justify-content: space-evenly;

    
}

.service-img-container {
    justify-content: start;
    align-items: start;
    z-index: -100;
    margin: 2rem 0 2rem 0;
}
.service-img-div {
    position: relative;
    text-align: center;
    color: #ff8800;
    font-weight: bold;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.working-imgs {
    width: auto;
    height: 12rem;
    margin: .5rem 1rem 0 0;
}
.concrete-imgs {
    width: auto;
    height: 15rem;
    margin: .5rem 1rem 0 0;
}


.concrete-div {
    z-index: -100;
}

.betong-container-width {
    width: 50%;
}

#gallery {
    width: 50%;
}

img {
    Width:100%;
  }
  
#service {
    margin: 2rem 0 2rem 0;
}

.p-service {
    text-align: left;
    width: 100%;
}
.images {
    display:grid;
    Grid-template-columns:repeat(4,1fr);
    Grid-gap:1em 1em;
    Margin-top:1em;
  }

@keyframes fadeIn {
    to {
        Opacity:1;
    }
}

.fade-in {
    animation:fadeIn 0.5s ease-in 1 forwards;
}

#main-div-services {
    height: 80%;
}


.work-img {
    width: auto;
    height: 20rem;
    
}


.gallery {
    margin: 0 0 4rem 0;
    
  
}