.services-div {
    width: 100%;
}

#gallery {
    width: 50%;
}

img {
    Width:100%;
  }
  
.images {
    display:grid;
    Grid-template-columns:repeat(4,1fr);
    Grid-gap:1em 1em;
    Margin-top:1em;
  }

@keyframes fadeIn {
    to {
        Opacity:1;
    }
}

.fade-in {
    animation:fadeIn 0.5s ease-in 1 forwards;
}

#main-div-services {
    height: 80%;
}


.work-img {
    width: auto;
    height: 20rem;
    
}

.img-one {
    margin-right: -4rem;
}
.img-two {
    margin-bottom: 10rem;
}
.img-three {
    margin-left: -4rem;
}

.gallery {
    margin: 0 0 4rem 0;
    
  
}