.services-div {
    width: 100%;
}

.service-container {
    justify-content: space-evenly;
}

#service {
    scroll-margin-top: 200px;
    color: white;
}

.service-img-container {
    justify-content: start;
    align-items: start;
    z-index: 90;
    /* margin: 0 0 2rem 0; */
}
.service-img-div {
    position: relative;
    text-align: center;
    color: #ff8800;
    font-weight: bold;
    transition: transform .2s; /* Animation */
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    overflow: hidden;
    margin: .5rem;
  }

.service-img-div:hover img {
    -moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.service-img-div img {
    vertical-align: top;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.working-imgs {
    width: auto;
    height: 12rem;
}
.concrete-imgs {
    width: auto;
    height: 15rem;
}

.betong-container-width {
    width: 50%;
}

#gallery {
    width: 50%;
}

img {
    Width:100%;
  }


.p-service {
    text-align: left;
    width: 100%;
}
.images {
    display:grid;
    Grid-template-columns:repeat(4,1fr);
    Grid-gap:1em 1em;
    Margin-top:1em;
  }

@keyframes fadeIn {
    to {
        Opacity:1;
    }
}

.fade-in {
    animation:fadeIn 0.5s ease-in 1 forwards;
}

#main-div-services {
    height: 80%;
}

.work-img {
    width: auto;
    height: 20rem;
}

.gallery {
    margin: 0 0 4rem 0;
}