@media (max-width: 75em) {

    /* burger menu */

    #links {
        display: none;
    }
    .language-p {
        color: gray;
    
    }

    .strict-link {
        color: #FF8800;
        padding: 0 0 4rem 0;
        font-size: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .logo-burger {
        margin-top: 2rem;
    }

    #srict-margin {
        padding-bottom: 4rem;
    }

    .burger-p {
        margin-bottom: 0.5rem;
    }

    .social-media-burger {
        width: auto;
        height: 2rem;
        margin: .5rem;
        filter: grayscale(100%);
    }
    
    #mobile-dropdown {
        display: unset;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 0%;
        background-color: #434343;
        overflow: hidden;
        z-index: 400;
    }

    header {
        z-index: 1000;
    }

    #mobile-dropdown {
        transition: height 1s;
    }

    .main-div-dropdown {
        height: 100%;
    }

    .nav-links-mobile {
        color: #FF8800;
        /* padding: 0 0 2rem 0; */
        font-size: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .mobile-ul {
        height: 70%;
        margin-top: 4rem;
    }

    nav {
        width: 3rem;
        display: flex;
        align-items: center;
    }
    .mobile-click {
        display: unset;
        z-index: 1000;
        cursor: pointer;
        transition: all .5s ease-in-out;

    }
    p, h1, h2, h3, h4, .p-service {
        text-align: center;
    }

    .bar-one {
        width: 3rem;
        height: 0.2rem;
        background-color: #FF8800;
        margin-bottom: 0.2rem;
        z-index: 1000;
        transition: all .5s ease-in-out;
    }

    .open {
        transform: rotate(45deg) translate(5px, 1px);
        transition: all .5s ease-in-out;
        }
    .open1 {
        transform: rotate(-45deg) translate(4px, 1px);
        transition: all .5s ease-in-out;

        }

    .bar-two {
        height: 0.2rem;
        background-color: #FF8800;
        margin-top: 0.2rem;
        z-index: 1000;
        transition: all .5s ease-in-out;
    }

    .main-text-div {
        width: 73%;
    }

    #hide-footer {
        display: none;
    }

    main {
        height: 100%;
    }

    .language-p {
        color: gray;
    
    }

    .logo-burger {
        margin-top: 10rem;
        
    }

    .main-text-div {
        width: 60%;
    }

    .main-text-div {
        transition: width 3s;
    }

    .background {
        /* background-attachment: fixed; */
        background-image: url(../pictures/tablet-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }

    .background-fi {
        /* background-attachment: fixed; */
        background-image: url(../pictures/IPAD-FINSKA-Bakgrund.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    /* about */

    .person-container {
        flex-direction: column;
        padding: 2rem;
        text-align: center;
    }

    .person-h3 {
        text-align: center;
    }

    .person-div {
        margin: 0;
    }

    .person-img {
        margin-bottom: 2rem;
    }

    #erik {
        margin: 0;
    }

    #erik-img {
        margin-bottom: 0;
        margin-top: 2rem;
    }

    /* services */

    .service-container {
        flex-direction: column;
    }

    .service-img-container {
        justify-content: center;
        align-items: center;
    }

    .concrete-div {
        justify-content: center;
        align-items: center;
    }

    .service-img-div {
        margin: .3rem;
    }
}