@media (max-width: 70em) {


    .main-text-div {
        width: 60%;
    }

    .main-text-div {
        transition: width 3s;
    }

    .background {
        /* background-attachment: fixed; */
        background-image: url(../pictures/tablet-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }

    /* about */

    .person-container {
        flex-direction: column;
        padding: 2rem;
        text-align: center;
    }

    .person-h3 {
        text-align: center;
    }

    .person-div {
        margin: 0;
    }

    .person-img {
        margin-bottom: 2rem;
    }

    #erik {
        margin: 0;
    }

    #erik-img {
        margin-bottom: 0;
        margin-top: 2rem;
    }

    /* services */

    .service-container {
        flex-direction: column;
    }

    .service-img-container {
        justify-content: center;
        align-items: center;
    }

    .concrete-div {
        justify-content: center;
        align-items: center;
    }


}