@media (max-width: 62em) {

    #links {
        display: none;
    }

    .mobile-dark-container {
        display: unset;
        width: 100%;
        background-color: #434343;
        display: flex;
        justify-content: center;
        color: white;
    }

    .content-width {
        width: 80%;
    }
    .mobile-bar {
        z-index: 300;
    }

    .text-white {
        color: white;
    }

    .background {
        background-image: url(../pictures/tablet-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #home {
        margin-bottom: 0;
    }

    
    /* about */
    
    
    #about {
        margin: 0;
        /* height: 190%; */
    }
    .middle-info {
        margin: 0;
    }

    .person-container {
        flex-direction: column;
        padding: 2rem;
        background: white;
    }

    .person-div {
        margin: 0;
    }

    .img-mobile {
        display: unset;
    }

    .desktop {
        display: none;
    }


    /* services page */


    #main-div-services {
        height: 100%;
    }
    
    .gallery {
        flex-direction: column;
        margin: 0;
    }

    #gallery {
        width: 80%;
    }


    .img-one {
        margin-bottom: 2rem;
        margin-right: 0;
    }
    .img-two {
        margin-bottom: 2rem;
    }
    .img-three {
        margin-left: 0;
    }

    .concrete-div {
        justify-content: center;
        align-items: center;
    }
    

    /* contact page */


    #contact {
        background-color: white;
    }

    .contact-socials-div-mobile {
        margin-bottom: 2rem;
    }
    .phone-mail-location-icons {
        width: auto;
        height: 2rem;
    }
    
    .contact-p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        font-size: 1rem;
    }

    .contact-form-container {
        flex-direction: column;
    }

    .contact-container {
        margin: 1rem 0 0 0;
    }

    .p-service {
        text-align: center;
    }

}