@media (max-width: 62em) {

    #links {
        display: none;
    }

    /* burger menu */

    .language-p {
        color: gray;
    
    }

    .strict-link {
        color: orange;
        padding: 0 0 4rem 0;
        font-size: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .logo-burger {
        margin-top: 2rem;
        
    }

    #srict-margin {
        padding-bottom: 4rem;
    }

    .burger-p {
        margin-bottom: 0.5rem;
    }

    .social-media-burger {
        width: auto;
        height: 2rem;
        margin: .5rem;
        filter: grayscale(100%);
    }
    

    #mobile-dropdown {
        display: unset;

        
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 0%;
        background-color: rgba(0, 0, 0, 0.9);
        overflow: hidden;
    }

    header {
        z-index: 1000;
    }

    #mobile-dropdown {
        transition: height 1s;
    }

    .nav-links-mobile {
        color: orange;
        /* padding: 0 0 2rem 0; */
        font-size: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .mobile-ul {
        height: 80%;
        margin-top: 4rem;
    }

    nav {
        width: 3rem;
        display: flex;
        align-items: center;
    }
    .mobile-click {
        display: unset;
        z-index: 1000;
        cursor: pointer;

    }

    .bar-one {
        width: 3rem;
        height: 0.2rem;
        background-color: orange;
        margin-bottom: 0.2rem;
        z-index: 1000;
    }

    .bar-two {
        height: 0.2rem;
        background-color: orange;
        margin-top: 0.2rem;
        z-index: 1000;
    }

    .invis {
        /* height: 0.2rem; */
        margin: 0.7rem 0;
        transition: all .5s;
    }

    .bar-two:hover {
        margin-top: .3rem;
    }

    .main-text-div {
        width: 73%;
    }

    #hide-footer {
        display: none;
    }

    main {
        height: 100%;
    }

    .language-p {
        color: gray;
    
    }

    .logo-burger {
        margin-top: 10rem;
        
    }

    /* services page */


    #main-div-services {
        height: 100%;
    }
    
    .gallery {
        flex-direction: column;
        margin: 0;
    }

    .img-one {
        margin-bottom: 2rem;
        margin-right: 0;
    }
    .img-two {
        margin-bottom: 2rem;
    }
    .img-three {
        margin-left: 0;
    }

    .language-div {
        display:none;
    }
    

    /* contact page */

    .contact-socials-div-mobile {
        margin-bottom: 2rem;
    }
    .phone-mail-location-icons {
        width: auto;
        height: 2rem;
    }
    
    .contact-p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        font-size: 1rem;
    }

}